<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hello, <%= @user.first_name %></h1>
<p>
  Customer confirmed receiving the order for lot <%= @lot.title %>.<br>
</p>
<p>
  To get more info, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>